header {
    text-align: center;
    position: fixed;
    margin:auto;
    top: 0px;
    left:0px;
    padding-top: 25px;
    width: 100%;
    background-color: rgb(55, 113, 142);
    z-index:2;
    color:rgb(220, 184, 203);
}

body {
    background-color: rgb(55, 113, 142);
}

#root {
    position: relative;
    margin-top: 160px;
    height: 800px;
}

.buttons {
    margin: auto;
    width: 1200px;
    justify-content: center;
    display: flex;
    flex-grow: 1; 
}

button {
    margin: 10px;
    background-color: rgb(220, 184, 203);
    border-radius: 5px;
    width: 80px;
    text-align: center;
    color: rgb(33, 69, 88);
}

#ca {
    width: 1200px;
    height: 100px;
    margin: auto;
}

.row, .main-row{
    display: flex;
    height: 12px;
}

.main-row {
    margin-bottom: 10px;
}


.cell {
    height: 100%;
    flex-grow: 1;
}

/* Background of cell */
.main-row > .cell:hover {
    filter: brightness(70%);
}

.ca-on {
    background-color:rgb(125, 97, 103);
}

.ca-off {
    background-color: rgb(220, 184, 203);
}

/* Slider */
#slider {
    appearance: none;
    margin:0px;
    width: 1200px;
    background: rgb(220, 184, 203);;
}

#slider:hover {
    filter: brightness(90%);
}

.slider {
    width: 1200px;
    margin: auto;
}

#sliderVal {
    padding: 12px;
    margin:auto;
    text-align: center;
    color:rgb(220, 184, 203);
}
