html {
    background-color: gray;
}

.title {
    text-align: center;
    padding-top: 1em;
}

body {
    width: 600px;
    margin: auto;
    background-color: darkgray;
}

.grid {
    width: 500px;
    height: 500px;
    margin: auto;
}

.cell:hover {
    border: 5px solid black;
}

.cell {
    flex-grow: 1;
    flex-shrink: 0;
}

.button {
    text-align: center;
}

#resetButton {
    margin-top: 50px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
}
